<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qiqiim.webserver.user.mapper.CodeMapper">
	<select id="getKeyword" resultType="java.lang.String">
		select `content` from `code` where `name`="keyword"
	</select>
</mapper>
